.masthead {
  background: #000;
  min-height: 5px;
}

#content {
  .orbit-container {
    a {
      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

.orbit-bullets {
  display: none;
}

.sticky-catch {
  position: relative;
}

#signup {
  width:inherit;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
  }

  form {
    margin: 0 auto;
  }
}

.form-group {
  display: inline-block;
  padding: 5px 8px;
}

footer {
  color: white;
  
  #inner-footer {
    background: black;
  }
}

#class-img {

  .columns {
    padding: 0;
    margin: 0px;
  }

  img {
    display: block;
  }

  .overlay {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    h2 {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      font-size: 0.9em;
    }
  }

  .mt {
    .overlay {
      background: rgba(255,0,0,0.75);
    }
  }

  .mma {
    .overlay {
      background: rgba(0,0,255,0.75);
    }
  }  

  .box{
    .overlay {
      background: rgba(0,255,0,0.75);
    }
  }

  .youth {
    .overlay {
      background: rgba(175, 255, 175, 0.75);
    }
  }
}

blockquote.easy_testimonial {
  text-align: center;

  position: relative;
  border: 8px solid #666;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #888;
  
  &:before {
    content: ' ';
    position: absolute;
    top: 100%;
    right: 10%;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    right: 11%;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
}