.masthead {
  background: #000;
  min-height: 5px;
}

.orbit-bullets {
  display: none;
}

.sticky-catch {
  position: relative;
}

#signup {
  width:inherit;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
  }

  form {
    margin: 0 auto;
  }
}

.form-group {
  display: inline-block;
  padding: 5px 8px;
}

footer {
  color: white;
  
  #inner-footer {
    background: black;
  }
}

#class-img {
  

  .overlay {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    opacity: 0.5;
    h2 {
      font-size: 1.1em;
    }

    p {
      font-size: 0.9em;
    }
  }

  .mt {
    .overlay {
      background: red;
    }
  }
}